.container {
    display: flex;
    height: 100vh;

}

.content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.content>input {
    width: 40%;
    border-radius: 5px;
    border-color: rgb(208, 213, 213);
    height: 30px;
}

.content>h1 {
    font-size: 30px;
}

.searchContainer {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.form>div {
    display: flex;
    align-items: center;
    /* background-color: black; */
}

.form>div label {
    max-width: 16rem;
    margin-top: 15px;

}

.form>div label, form>div input {
    /* margin-left: 80px; */
    border-radius: 5px;
    width: 30%;
    height: 25px;
    border-color: rgb(208, 213, 213);
}

.form>button {
    margin-left: 48%;
    margin-top: 30px;
    background-color: rgb(15, 15, 44);
    color: aliceblue;
    border-radius: 8px;
    width: 70px;
    height: 30px;
}

.table > th {
    text-align: justify;
}

/* 

.menulateral{
    margin: 0;
    padding: 0;
    height: 10px;
    background-color: rgb(15, 15, 44);
    color:white;
    width: 100px;
    border-radius: 6px;
    margin-left: 15px;
    height: 25px;
    cursor: pointer;
}
.cads{
    display: flex;
    margin-top: 30px;
    margin-left: 0;
}
.cpf{
    margin-left: 80px;
}
.cadastro{
    margin-left: 80px;
    font-size:21px;
    display: flex;
    
}   
.pesquisa{
    margin-top: 30px;
    margin-left: 80px;
    width: 35%;
    height: 35px;
    border-radius: 5px;
    border-color: rgb(208, 213, 213);                           
}
.nomE{
    font-family: inter;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 10px; 
    
}
.divcompleta{
    width: 100%;
}
.inpuT{
    margin-left: 80px;
    border-radius: 5px;
    width: 80%;
    height: 25px;
    border-color: rgb(208, 213, 213);

}
.inpuTcpf{
    margin-left: 20px;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    border-color: rgb(208, 213, 213);
}
.inpuTsenha{
    margin-left: 40px;
    border-radius: 5px;
    width: 90%;
    height: 25px;
    border-color: rgb(208, 213, 213);
}
.cpf{
    margin-left: 20px;
    margin-top: 0px;
}
.senha{
    margin-top: 10px;
    margin-left: 40px;
}
.salvar{
    margin-left: 69%;
    margin-top: 30px;
    background-color: rgb(15, 15, 44);
    color: aliceblue;
    border-radius: 8px;
    width: 70px;
    height: 30px;
}
.th{
    margin-left: 80px;
    padding-left: 100px;
    width: 400%;
   
}
.td{
    border: 1px solid #979393;
    margin-left: 60px;
    width: 400%;

} 
.tabela{
    margin-top: 150px;
    margin-left: 8px;
    width: 100%;
}
.taBela{
    width: 40px;
}
.Editar{
    background-color: rgb(15, 15, 44);
    color:white;
    width: 70px;
    border-radius: 6px;
    margin-left: 15px;
    height: 25px;
    cursor: pointer;

}
.Salvar{
    background-color: rgb(15, 15, 44);
    color:white;
    width: 85px;
    height: 30px;
    margin-left: 21%;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.Cancelar{
    background-color: rgb(15, 15, 44);
    color:white;
    width: 85px;
    height: 30px;
    margin-left: 15%;
    border-radius: 8px;
    cursor: pointer;
}
.Deletar{

    background-color: rgb(15, 15, 44);
    color:white;
    width: 70px;
    border-radius: 6px;
    margin-left: 15px;
    margin-top: 10px;
    height: 25px;
    cursor: pointer;
}
.Edite{
    border-radius: 10px;
    text-align: center;
}
.tabelanome{
    margin-left: 15%;
    margin-top: 5%;
    
}
.editarnome{

    width: 150px;
    margin-top: 26px;
    margin-left: 16%;
    border-radius: 4px;
    width: 70%;
    height: 40px;
    
}
.edição{

    
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.alteradados{
    margin-left: 575px;
    margin-top: 220px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
    border-radius: 8px;
}
.AD{
    margin-top: 20%;
    margin-left: 120px;
}
.tab{
    margin-top: 30px;
    margin-left: 80px;
    width: 300px;
}
.MENUlateral{
    background-color: rgb(15, 15, 44);
    color:white;
    width: 100px;
    border-radius: 6px;
    margin-left: 15px;
    height: 25px;
    cursor: pointer;
    display: flex;

}
.lateral{
    background-color: rgba(235, 237, 238, 0.949);
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 47rem;
    border-style: 40px;
}
.menu{
    display: flex;
}
.tab{
    width: 100px;
   
}
.Form1{

    background-color: rgb(208, 188, 188);
    height: 150px;

}
.buttonMenu1{
    margin-top: 20px;
    margin-left: 20px;
    width: 215px;
    height: 70%;
    background-color: rgb(3, 3, 42);
    color: aliceblue;
    border-radius: 5px;

    background-color: rgb(236, 236, 236);
    text-align: justify;
    color: black;
    border: none;
    font-family: Inter;
}
.buttonMenu1:hover{
    background-color: #8695ad;
}
.Menu1{
    margin-left: 10px;
    display: flex;
    font-size: 20px;
    font-family: Inter;
}
.seach{
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border-style: double;
    border-color: rgb(225, 221, 221);
}
.margimtabela{
    background-color: black;
}

.theaD {
    width: 300px;
}

.thtabela {
    width: 40px;
}

*/