.diver {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.k {
    display: flex;
    margin-top: 30px;
    margin-left: 10%;
    width: 70%;
    height: 30px;
    border-radius: 5px;
}

.k:hover {
    background-color: rgb(195, 198, 198);
    cursor: pointer;
}

.ltr {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.menu {
    background-color: rgb(242, 245, 247);
    margin: 0;
    padding: 0%;
    width: 19%;
    height: 100%;
    border-color: #9e9c9c;
}

.container {
    display: flex;
    height: 100vh;

}

.content {
    width: 100%;
    max-width: 1100px;
    /* display: flex; */
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.content>input {
    width: 40%;
    border-radius: 5px;
    border-color: rgb(208, 213, 213);
    height: 30px;
}

.content>h1 {
    font-size: 30px;
}

.searchContainer {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.form>div {
    display: flex;
    align-items: center;
    /* background-color: black; */
}

.form>div label {
    max-width: 16rem;
    margin-top: 15px;

}

.form>div label,
form>div input {
    /* margin-left: 80px; */
    border-radius: 5px;
    width: 30%;
    height: 25px;
    /* border-color: rgb(208, 213, 213); */
}

.sep {
    margin-left: 2%;
    background-color: rgb(70, 70, 196);
    color: aliceblue;
    border-radius: 8px;
    width: 15%;
    height: 30px;
    border: none;
}
.sep:hover{
    cursor: pointer;
    background-color: rgb(98, 98, 217);
}

.table>th {
    text-align: justify;
}

.inputcpf {
    width: 350px;
    border-radius: 5px;
    border-color: rgb(239, 240, 241);
    /* margin-top: 20px; */
    height: 25px;
    /* margin-top: 40px; */
}


.desconect {
    margin-top: 450px;
    margin-left: 30px;
    background-color: #f8f8f8;
    /* Fundo claro */
    color: rgb(240, 107, 107);
    /* Texto vermelho */
    border: 1px solid rgb(220, 214, 214);
    /* Borda vermelha */
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
    font-size: 14px;
}

.desconect:hover {
    background-color: #f3efef;
    /* Leve tom de vermelho no hover */
}
.taBlew{
    margin-top: 45px;
    /* background-color:rgb(246, 249, 249); */
    height: 40px;
}
.h1{
    /* font-size: 25px; */
}
.tathw{
    width: 60px;
    background-color: rgb(246, 249, 249);
    text-align: justify;
}
.tathno{
    width: 350px;
    background-color: rgb(246, 249, 249);
    text-align: justify;
}
.tathcpf{
    width: 230px;
    background-color: rgb(246, 249, 249);
    text-align: justify;
}
.tathdeta{
    width: 180px;
    background-color: rgb(246, 249, 249);
    text-align: justify;
}