.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 237, 238, 0.949);
    width: 17%;
}

.container>label {
    margin-left: 10px;
    display: flex;
    font-size: 20px;
}

.container>input {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border-style: double;
    border-color: rgba(208, 212, 213, 0.949);
    
}

.container>a {
    margin-top: 20px;
    width: 80%;
    height: 30px;
    text-decoration: none;
    background-color: rgba(235, 237, 238, 0.949);
    border-radius: 5px;
    margin-left: 18px;
    color:black;
}

.container> a:hover {
    background-color: rgba(85, 89, 151, 0.61); /*blue*/
    
    

}