.table{
    margin-top: 40px;
}
.table > button{
    background-color: rgb(15, 15, 44);
    color:white;
    width: 85px;
    height: 30px;
    margin-left: 21%;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}
table > th{
    text-align: justify;
}