.sidemenu {
     background-color: rgb(242, 245, 247);
     margin: 0;
     padding: 0%;
     width: 19%;
     height: 100%;
     border-color: #9e9c9c;
}

.sideentrance {
     width: 70%;
     margin-top: 15px;
     margin-left: 30px;
}

.a {
     display: flex;
     margin-top: 30px;
     margin-left: 10%;
     width: 70%;
     height: 30px;
     border-radius: 5px;

}
.desconect {
     margin-top: 450px;
     margin-left: 30px;
     background-color: #f8f8f8;
     /* Fundo claro */
     color: rgb(240, 107, 107);
     /* Texto vermelho */
     border: 1px solid rgb(220, 214, 214);
     /* Borda vermelha */
     padding: 8px 12px;
     border-radius: 5px;
     cursor: pointer;
     font-weight: bold;
     width: 80%;
     font-size: 14px;
}

.class{
     margin-left: 20px;
}

.inputsave {
     width: 250px;
     border-radius: 5px;
     border-color: rgb(239, 240, 241);
     margin-top: 20px;
     height: 20px;
     margin-left: 40px;
}
.divlabel {
     display: flex;
     margin-top: 20px;
}

.labelquipe {
     margin-left: 40px;
}
.labelprof{
     margin-left: 250px;
}
.labelbloc{
     margin-left: 220px;
}
.labelfilt{
     margin-left: 255px;
}

.divinput {
     display: flex;
     margin-top: 1px;
}

.savebutton {
     margin-left: 20px;
     width: 90px;
     height: 25px;
     color: rgb(255, 255, 255);
     border-radius: 6px;
     background-color: rgb(70, 70, 196);
     border: none;
}

.savebutton:hover {
     cursor: pointer;
     background-color: rgb(58, 58, 255);

}

.saveepic {
     margin-left: 92%;
     margin-top: 15px;
     width: 90px;
     height: 25px;
     color: rgb(255, 255, 255);
     border-radius: 6px;
     background-color: rgb(70, 70, 196);
     border: none;
}

.saveepic:hover {
     cursor: pointer;
     background-color: rgb(58, 58, 255);
}

.exportregis {
     margin-left: 20px;
     width: 150px;
     height: 25px;
     color: rgb(255, 255, 255);
     border-radius: 6px;
     background-color: rgb(70, 70, 196);
     border: none;
}

.exportregis:hover {
     cursor: pointer;
     background-color: rgb(58, 58, 255);

}

.inputepic {
     width: 220px;
     border-radius: 5px;
     border-color: rgb(239, 240, 241);
     margin-top: 20px;
     height: 20px;
     margin-left: 40px;
}

.a:hover {
     background-color: rgb(195, 198, 198);
     cursor: pointer;
}

.thlistuser {
     width: 150px;
     background-color: rgb(246, 249, 249);
}

.thlistuserdt {
     width: 250px;
     background-color: rgb(246, 249, 249);
}

.mainscreen {
     display: flex;
     height: 100vh;
     background-color: rgb(255, 255, 255);
}

.cadastre {
     margin-left: 50px;

}

.component {
     margin-left: 50px;
     font-size: 15px;
}



.inputequipe {
     margin-left: 100px;
     margin-top: 15px;
}




.meintable {
     /* background-color: #dfdbdb; */
     text-align: center;
     width: 1000px;
     margin-left: 30px;
     margin-top: 35px;
     border-radius: 3px;
     animation-direction: normal;
     animation-duration: 2s;
}